.search {
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: center;
  top: 113px;
  left: 0;
  width: 100%;
  animation: fadeIn 0.3s ease-in-out;
  z-index: 100;

  &:focus-within {
    .search__prompt {
      display: block;
      animation: fadeIn 0.3s ease-in-out;
    }
  }
}

.search--with-fixed {
  top: 90px;
}

.search--with-burger {
  top: 108px;
}

.search__wrapper {
  background-color: #f1f1f1;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search__field {
  width: 978px;
  display: flex;
  padding: 20px 0;

  input {
    flex-grow: 1;
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
  }
}

.search__submit {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  width: 136px;
  height: 40px;
}

.search__overlay {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: rgba($black, 0.22);
  justify-content: center;
  align-items: flex-start;
  animation: fadeIn 0.3s ease-in-out;
}

.search__prompt {
  display: none;
  background-color: $white;
  width: 978px;
  box-shadow: 0 55px 54px rgba(0, 0, 0, 0.15);
  padding: 26px 18px;

  h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: rgba($black, 0.5);
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }
}

.search__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.search__link {
  color: inherit;
  font-size: 12px;
  line-height: 220%;
  text-decoration: none;
}
